.contentContainer  {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .paginationButtons {
    padding: 30px;
    height: 60px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationButtons a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .paginationButtons a:hover {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationActive a {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: grey;
  }

  .btn-dark {
    margin-left: 10px;
    height: 40px;
    width: 100px;
  }
