.modal {
  text-align:center;
}

.modal-body {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
    
    /* max-width: 1000px; */
}

.modal-content {
    /* height: 600px; */
    width: 70vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    /* margin-top: 300px; */
  }
/* 
  .btn-secondary{
    width: 50px;
    height: 40px;
    font-size: smaller;
  } */
